<div *ngIf="examStarted && quizThemes.length>0; else chooseQuizThemes">
    <app-exam (examFinish)="examFinishedChange($event)" [(examStarted)]="examStarted" [quizId]="quizId" [quizThemeIDs]="quizThemeIDs"></app-exam>
</div>
<ng-template #chooseQuizThemes>
    <div *ngIf="quizThemes.length>0 && quizId==5; else underConstruction" class="blurred">
        <div class="container">
            <ngx-ui-loader loaderId="stores_loader" text='Թեմաները բեռնվում են․․․'></ngx-ui-loader>
            <div class="row">
                <div class="col-md-4 col-sm-4 offset-md-1">
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" (change)="selectAll($event)"
                                    id="select_all">
                                <label class="form-check-label" for="select_all">{{selectAllText}}</label>
                            </div>
                        </li>
                        <li *ngFor="let quizTheme of quizThemes">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{quizTheme.id}}"
                                    [(ngModel)]="quizThemeCheckboxes[quizTheme.id]" id="quizTheme_{{quizTheme.id}}">
                                <label class="form-check-label" for="quizTheme_{{quizTheme.id}}">
                                    {{quizTheme.quizThemeName}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 offset-md-1">
                    <button type="button" class="btn btn-sm sht btn-block" (click)="startExam()">
                        Սկսել
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #underConstruction>
        <div *ngIf="inited" class="row">
            <div class="col-md-8 offset-md-2 blurred">
                <div class="text-center">
                    <h4>{{quizName}}</h4>
                    <p>շտեմարանը գտնվում է մշակման փուլում</p>
                    <p>Խնդրում ենք վերադառնալ ավելի ուշ</p>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>