$white:#FFFFFF;
$red: #FD0000;
$blue: #B790FC;
$black: #000000;
$gray: #D4D4DD;
$mainColor: rgba(43, 40, 42,.9);

.examMain {
    min-height: 410px;
}

.exam {
    color:$white;
}
.question, .answers {
    white-space:pre-wrap;
    background: $white;
    color:$black;
    border-radius: 20px;
    display: block;
    min-height: 200px;
    padding:20px 10px;
}

.answers {
    margin: 10px 0;
    min-height: 120px;
}

.exam_nav {
    margin:auto;
}

.exam_nav .btn {
    margin-left:3px;
    outline:none;
}

.exam_res {
    color: $white;
    margin:auto;
    list-style: none;
    position: relative;
    padding:10px;
    display: inline-block;
    width:250px;
    text-align: left;
}

.exam_res .txt {
    margin-left:30px;
    left:30px;
    position: absolute;
}

.answers table {
    text-align: center;
    margin:auto;
}

.answerType_1, .correct_answerType_1 {
    margin-top:15px;
    width:50px;
    text-align:center;
    border: 1px solid $black;
}

.correct_answerType_1 {
    margin-top:5px;
}

.answers input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	width: 22px;
    height: 22px;
	//display: block;
	//float: left;
	position: relative;
	cursor: pointer;
    margin:5px 2px;
}

.answers input[type='checkbox']:after {
    content: "";
    border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	line-height: 21px;
	position: absolute;
	cursor: pointer;
	height: 22px;
	width: 22px;
	left: 0;
	top: 0;
	-webkit-box-shadow: inset 0 1px 1px $gray, 0 1px 0 $gray;
	-moz-box-shadow: inset 0 1px 1px $gray, 0 1px 0 $gray;
	box-shadow: inset 0 1px 1px $gray, 0 1px 0 $gray;
	background: $gray;
}




// .answers input[type='checkbox']:after {
//     -webkit-box-shadow: inset 0 1px 1px $red, 0 1px 0 $gray;
// 	-moz-box-shadow: inset 0 1px 1px $red, 0 1px 0 $gray;
// 	box-shadow: inset 0 1px 1px $red, 0 1px 0 $gray;
// 	background: $red;
// }

//.answers input[type='checkbox']:hover:after, 
.answers input[type='checkbox']:checked:after {
    background: $gray;
    font-size:22px;
	content: '\00d7';
	color: $black;
}

// .answers input[type='checkbox']:checked:hover:after {
// 	content: '';
// }

.correct button.confirm, .correct .answerType_1, input.correct {
    background: $blue;
    color:$black;
    opacity: 0.9;
}
// input.correct, input.wrong {
//     border:1px solid $black;
// }

.wrong button.confirm, .wrong .answerType_1, input.wrong {
    background: $red;
    color:$black;
    opacity: 0.9
}
// correct
.wrong input[type='checkbox']:checked:after, .wrong input[type='number'] {
    background: $red !important;
    border:none;
}

.correct input[type='checkbox']:checked:after, .correct input[type='number'] {
    background: $blue !important;
    border:none;
}

input[type='checkbox'].correct:after, .wrong input[type='checkbox'].correct:checked:after {
    background: $blue !important;
    // border:none !important;
    border:1px solid $black !important;
}

